/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-mei-2018, 15:05:06
    Author     : kaatje
*/
.anchorpane {
    -fx-alignment: center ;
    -fx-background-color: darkslategrey;

}
.vbox{
    -fx-background-color: darkslategrey;
    -fx-border-color: orange;
    -fx-border-width: 8px;
    -fx-border-radius: 25px;
}

.chart {
    -fx-background-color: lightgoldenrodyellow;     
    -fx-background-radius: 25px;
    -fx-padding: 1px;
}

.chart-legend {
   -fx-background-color:  transparent;

}
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
 
.chart-legend-item{
    -fx-text-fill: green;
    -fx-padding: 0px;
}
.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 24px;}
.axis-label {
  -fx-text-fill: darkcyan;
}
.chart-plot-background {
    -fx-background-color: transparent;

}
.chart-horizontal-grid-lines {
    -fx-stroke: lightcoral;
}
.chart-alternative-row-fill {
    -fx-fill: #FFEFD5;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: orangered;
    -fx-border-width: 2px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-background-color: derive(#353434,50%);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.chart-content {
    -fx-padding: 0px;
}

